body {
  color: #FFF;
  font-family: sans;
  background-color: #FFF;
}
img {
  border: 1px solid ivory;
  border-radius: 10%;
}
#map {
  width: 99%;
  border: 2px solid #1994d7;
  border-radius: 10%;
}
label {
  color: #1994d7;
  font-weight: bolder;
}
h1 {
  font-size: 35px;
  font-family: cursive;
  text-align: center;
  color: #FFF;
  margin: 0;
  padding: 0;
}
h2, h3 {
  font-family: cursive;
  color: ivory;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
h6 {
  font-size: 16px;
  color: ivory;
  font-style: italic;
  font-weight: 200;
   margin: 0;
}
ul {
  width: 90%;
}
li {
  font-size: 18px;
  font-weight: 500;
  margin: .5rem;
}
a {
  text-align: center;
  text-decoration: none;
  background: #67c0f0;
  border-radius: 20px;
  box-shadow: 2px 4px;
  font-size: 30px;
  color: ivory;
  padding: .5rem;
  margin-top: 20px;
}
a:hover {
  background: #1994d7;
  color: gold;
  border-radius: 55px;
  
}
input, button {
  background: ivory;
}
input:hover{
  background: #d9e5ed;
}
#delete:hover {
  background: red;
}
button:hover, #create:hover, #update:hover {
  background: gold;
  cursor: pointer;
}
details {
  width: 100%;
}
details:hover {
  background: ivory;
  color: #090909;
  cursor: pointer;
  transition: .5s;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  }

.logo > img {
  width: 20%;
  margin: 17px 0 0 14px;
  
}
.logo{
  border-bottom: 2px solid #1994d7;
  margin-bottom: 17px;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 90, 205);
  border-radius: 7px;
  margin-top: 15px;
}

.header {
 text-align: center;
/* background-image: url("https://i.imgur.com/y8LOgHM.jpg"); */
}

.formCreate{
  width: 200px;
  margin: 5px;
}

.mainCage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}
.cage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-left: 15px;
  
}

#create {
  margin-top: 10px;
  background-color: #1994d7;
  border: #fff;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 15px;

@media only screen and (max-width: 600px) {
  .mainCage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  .cage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  h1 {
    font-size: 20px;
    margin-top: 15%;
  }
  a {
    font-size: 27px;
  }

  .formCreate{
    border: 1px solid #fff;
    width: 70%;
    margin: 5px;
    margin-left: 15%;
  }
  #create {
    margin-top: 10px;

    background-color: #1994d7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 13px;
  }
}