body {
  background: #090909;
  color: gold;
  font-family: sans;
}
img {
  width: 30%;
  border: 1px solid ivory;
  border-radius: 10%;
}
h1 {
  font-size: 100px;
  font-family: cursive;
  text-align: center;
  color: ivory;
  margin: 0;
  padding: 0;
}
h2, h3 {
  font-family: cursive;
  color: ivory;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
input, button {
  background: ivory;
}
input:hover{
  background: gold;
}
#delete:hover {
  background: red;
}
button:hover, #create:hover, #update:hover {
  background: gold;
  cursor: pointer;
}
details:hover {
  background: ivory;
  color: #090909;
  cursor: pointer;
  transition: .5s;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header {
text-align: center;
background-image: url("https://i.imgur.com/y8LOgHM.jpg");
background-size: cover;
width: 100%;
}
.mainCage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flext-start;
  align-items: center;
  width: 100%
}
.cage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .mainCage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
